.buttonsFilterContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonsFilterContainer button{
  border-radius: 30px;
  height: 50px;
  width: 200px;
  margin: 10px;
}

