
.tasksContainer {
  font-size: 22px ;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.Task {
  border:1px solid black ;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 45px ;
  padding: 10px;
  border-radius: 30px;
  flex-direction: column-reverse;
}
.Task button {
  border-radius: 30px;
}
.Task label{
  margin: 5px;
}

.Task + .Task {
  margin: 10px;
}
