.ErrorColor{
  color: #da4b4b;
}



.inputContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inputContainer button {
  margin: 10px;
  height: 40px;
  border-radius: 30px;
}
